.container {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;

  .card1 {
    text-align: center;
    width: 250px;
    height: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: linear-gradient(rgb(225, 150, 58), rgb(227, 144, 91));
    transition: .6s;
    transform: rotatex(55deg) translatey(-200px) translatez(-50px);
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5);
    cursor: pointer;

    &:hover {
      transform: rotatex(10deg);
      transition: .6s;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }

    img {
      transform: translateY(15px);
      width: 200px;
      height: 120px;
    }

    h3 {
      font-size: 25px;
      font-family: 'Abel', sans-serif;
      color: rgb(255, 255, 255);
      text-shadow: 0 0 2px rgb(255, 255, 255);
      transform: translatey(10px);
    }

    p {

      font-family: 'Abel', sans-serif;
      color: white;
      text-align: center;
      width: 220px;
      transform: translatex(12px);
    }
  }

  .card2 {
    position: relative;
    width: 250px;
    height: 350px;
    margin: 0 auto;
    background: #000;
    border-radius: 15px;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);

    .face {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &.face1 {
        box-sizing: border-box;
        padding: 20px;

        .java {
          background-color: #fffc00;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      &.face2 {
        transition: 0.5s;

        h2 {
          margin: 0;
          padding: 0;
          font-size: 10em;
          color: #fff;
          transition: 0.5s;
          text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          z-index: 10;
        }
      }
    }

    &:hover {
      .face.face2 {
        height: 70px;

        h2 {
          font-size: 2em;
        }
      }
    }

    &:nth-child(1) {
      .face.face2 {
        background-image: linear-gradient(80deg, #fffc00 0%, #fc00ff 45%, #00fffc 100%);
        border-radius: 15px;
      }
    }
  }

  .box {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 4rem;

    &:hover {
      .imgBox {
        transform: translate(-3.5rem, -3.5rem);

        @media (max-width: 600px) {
          transform: translate(0, -3.5rem);
        }

      }

      .content {
        transform: translate(3.5rem, 3.5rem);

        @media (max-width: 600px) {
          transform: translate(0, 3.5rem);
        }
      }
    }

    .imgBox {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      transition: all 0.5s ease-in-out;

      img {
        width: 300px;
        height: 350px;
        object-fit: cover;
        resize: both;
      }
    }

    .content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      background-color: #fff;
      z-index: 1;
      align-items: flex-end;
      text-align: center;
      transition: 0.5s ease-in-out;

      h2 {
        display: block;
        font-size: 24px;
        color: #111;
        font-weight: 700;
        line-height: 2rem;
        letter-spacing: 1px;
      }

      span {
        color: #555;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 2px;
      }
    }
  }

  .courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    .item {
      -ms-flex-preferred-size: calc(33.33333% - 30px);
      flex-basis: calc(33.33333% - 30px);
      margin: 0 15px 30px;
      overflow: hidden;
      border-radius: 28px;

      .link {
        display: block;
        padding: 30px 20px;
        background-color: #121212;
        overflow: hidden;
        position: relative;

        &:hover{
          text-decoration: none;
          color: #fff;
          .item_bg {
            -webkit-transform: scale(10);
            -ms-transform: scale(10);
            transform: scale(10);
          }
        }
        .title {
          min-height: 87px;
          margin: 0 0 25px;
          overflow: hidden;
          font-weight: bold;
          font-size: 30px;
          color: #fff;
          z-index: 2;
          position: relative;
        }

        .date_box {
          font-size: 18px;
          color: #fff;
          z-index: 2;
          position: relative;

          .date {
            font-weight: bold;
            color: #fff;
            -webkit-transition: color 0.5s ease;
            -o-transition: color 0.5s ease;
            transition: color 0.5s ease;
          }
        }

        .item_bg {
          height: 128px;
          width: 128px;
          background-color: #f9b234;
          z-index: 1;
          position: absolute;
          top: -75px;
          right: -75px;
          border-radius: 50%;
          -webkit-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
        }
      }

    }
  }


}

